@using Client.Components
@inherits LayoutComponentBase
<div class="page">
    <div>
        <Navbar />
    </div>
    @using Blazored.Toast.Configuration


    <main>
    <BlazoredToasts
        Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
        Timeout="5"
        IconType="IconType.FontAwesome"
        SuccessClass="success-toast-override"
        SuccessIcon="fa fa-thumbs-up"
        ErrorIcon="fa fa-bug"
        ShowProgressBar="true"

    />
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content p-4">
            @Body
        </article>
    </main>

    <!-- Required for portal-based components -->
    @* <BbPortalHost /> *@
</div>
