@using Client.Components
@inherits LayoutComponentBase
<div class="page">
    <div>
        <Navbar />
    </div>
    @using Blazored.Toast.Configuration

    <BlazoredToasts
        Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
        Timeout="10"
        IconType="IconType.FontAwesome"
        SuccessClass="success-toast-override"
        SuccessIcon="fa fa-thumbs-up"
        ErrorIcon="fa fa-bug"
    />

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>

    <!-- Required for portal-based components -->
    @* <BbPortalHost /> *@
</div>
