@using Client.Components
@inherits LayoutComponentBase
<div class="page">
    <div>
        <Navbar />
    </div>
    @using Blazored.Toast.Configuration


    <main>
        <BlazoredToasts
            Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
            Timeout="5"
            IconType="IconType.FontAwesome"
            SuccessClass="success-toast-override"
            SuccessIcon="fa fa-thumbs-up"
            ErrorIcon="fa fa-bug"
            ShowProgressBar="true"
        />

        <article class="content p-4">
            @Body
        </article>
    </main>
</div>
