@page "/"
@using API.DTO.Review
@using Client.Components
@using Client.DTO
@inject HttpClient Http

<PageTitle>FoodGetAboutIt</PageTitle>

<div class="flex justify-start flex-wrap gap-4">
    @if(restaurants is not null)
    {
        @foreach(var restaurant in restaurants)
        {
            <RestaurantCard restaurant="restaurant" topReview="topReview" />
        }
    }
</div>

@code {
    public List<GetRestaurantsDTO> restaurants {get; set; }
    public AddNewReviewDTO topReview {get; set; }
    public List<AddNewReviewDTO> reviews {get; set; }

    protected override async Task OnInitializedAsync()
    {
        restaurants = await Http.GetFromJsonAsync<List<GetRestaurantsDTO>>("api/restaurant");
        reviews = await Http.GetFromJsonAsync<List<AddNewReviewDTO>>("api/review");

        topReview = reviews.Any() ? reviews.MaxBy(r => r.Score) : null;
    }
}