@page "/"
@using Client.Components
@using Client.DTO
@inject HttpClient Http

<PageTitle>FoodGetAboutIt</PageTitle>

<div class="flex justify-start flex-wrap gap-4">
    @if(restaurants is not null)
    {
        @foreach(var restaurant in restaurants)
        {
            <RestaurantCard restaurant="restaurant" topReview="topReview" />
        }
    }
</div>

@code {
    public List<GetRestaurantsDTO> restaurants {get; set; }
    public GetRestaurantsDTO topReview {get; set; }

    protected override async Task OnInitializedAsync()
    {
        restaurants = await Http.GetFromJsonAsync<List<GetRestaurantsDTO>>("api/restaurant");
        topReview = restaurants.MaxBy(r => r.Review);

    }
}