@page "/"
@using API.DTO.Review
@using Client.Components
@using Client.DTO

<PageTitle>FoodGetAboutIt</PageTitle>

<div class="flex justify-start flex-wrap gap-4">
    @if(restaurants is not null)
    {
        @foreach(var restaurant in restaurants)
        {
            <RestaurantCard restaurant="restaurant" topReviewId="topReviewId" />
        }
    }
</div>

@code {
    private List<GetRestaurantsDTO> restaurants {get; set; } = new();
    private List<AddNewReviewDTO> reviews {get; set; } = new();
    private Guid? topReviewId {get; set; }
    private Dictionary<Guid, decimal> averageReview = new();


    protected override async Task OnInitializedAsync()
    {
        restaurants = await Http.GetFromJsonAsync<List<GetRestaurantsDTO>>("api/restaurant") ?? new();
        reviews = await Http.GetFromJsonAsync<List<AddNewReviewDTO>>("api/review") ?? new();

        averageReview = reviews
            .Where(r => r.RestaurantId.HasValue)
            .GroupBy(r => r.RestaurantId!.Value)
            .ToDictionary(
                g => g.Key,
                g => g.Average(r => r.Score)
            );

        topReviewId = averageReview.Any()
            ? averageReview.MaxBy(x => x.Value).Key
            : null;

        Console.WriteLine(topReviewId);
    }
}