@page "/restaurant/{Id:guid}"
@using Client.Components
@using Client.DTO
@inject HttpClient Http

<PageTitle>@restaurant?.Name</PageTitle>

@if (restaurant is null)
{
    <p>Loading...</p>
}
else
{
    <RestaurantInfo restaurant="restaurant" />

    <div class="flex flex-wrap justify-start w-full">
        @if (restaurant.MenuItems is not null)
        {
            @foreach (var item in restaurant.MenuItems)
            {
                <div class="flex items-center w-1/4 px-10 space-x-4">
                    <div class="h-[100px] w-[150px] border-2 border-black"></div>
                    @* <img src=@restaurant.Image alt=@restaurant.Name class="size-96 object-cover"/> *@
                    <div class="flex flex-col w-96">
                        <span class="text-xl font-black">
                            @item.Name
                        </span>
                        <p class="text-base font-bold">Pris: @item.Price kr</p>
                        <p class="text-sm">
                            @item.Description
                        </p>
                    </div>
                </div>
            }
        }
    </div>
}
@code {
    [Parameter]
    public Guid Id { get; set; }

    private GetRestaurantsDTO? restaurant;

    protected override async Task OnParametersSetAsync()
    {
        restaurant = await Http.GetFromJsonAsync<GetRestaurantsDTO>($"api/restaurant/{Id}");
    }
}